### 15、联接表

#### 15.1 关系表

外键

所谓的联接，其实表与表之间没有任何物理链接，表是独立的
联接的原理是这个表中某个数值和另一个表中某个数值相等，查找便可以关联起来

比如：

设计一个单词表， 这个单词表有很多章， 每一章有很多单词

```
# 针对 chapter

mysql> SELECT * 
    -> FROM recite_chapter
    -> LIMIT 10;
+----+------+----------+---------+
| id | chap | is_alive | is_full |
+----+------+----------+---------+
|  1 |    1 |        1 |       1 |
|  2 |    2 |        1 |       1 |
|  3 |    3 |        1 |       1 |
|  4 |    4 |        1 |       1 |
|  5 |    5 |        1 |       1 |
|  6 |    6 |        1 |       1 |
|  7 |    7 |        1 |       1 |
|  8 |    8 |        1 |       1 |
|  9 |    9 |        1 |       1 |
| 10 |   10 |        1 |       1 |
+----+------+----------+---------+


# 针对 word

mysql> SELECT id,word,chapter_id  FROM recite_word LIMIT 10;
+----+-----------+------------+
| id | word      | chapter_id |
+----+-----------+------------+
| 27 | argument  |          1 |
| 12 | array     |          1 |
| 28 | attribute |          1 |
| 17 | chapter   |          1 |
|  3 | class     |          1 |
| 30 | classes   |          1 |
| 47 | common    |          1 |
| 26 | create    |          1 |
| 44 | decorator |          1 |
| 23 | default   |          1 |
+----+-----------+------------+


```

建立外键的时候， word 会创建的一个 chapter_id 的字段去对应 chapter 表中的 id 字段。这样达到联接的目的。

联接语句写法

```
mysql> SELECT  chap, word, explansion
    -> FROM recite_chapter, recite_word
    -> WHERE recite_chapter.id = chapter_id
    -> AND chapter_id = 1
    -> LIMIT 10;
+------+-----------+----------------------------------------------------------------------------------------------------------------------+
| chap | word      | explansion                                                                                                           |
+------+-----------+----------------------------------------------------------------------------------------------------------------------+
|    1 | argument  | n. 论据; 争论，争吵; [数]幅角; 主题，情节;                                                                           |
|    1 | array     | n. 数组; 队列，阵列; 一大批; 衣服; vt. 排列; 部署兵力; 打扮，装饰;                                                   |
|    1 | attribute | vt. 认为…是; 把…归于; 把…品质归于某人; 认为某事[物]属于某人[物]; n. 属性; （                                         |
|    1 | chapter   | n. 章，回; （俱乐部、协会等的）分会; 人生或历史上的重要时期; vt. 把…分成章节;                                        |
|    1 | class     | n. 班; 阶级; 等级; 种类; vt. 把…归入某等级，把…看作（或分类、归类）; 把…编入某一                                     |
|    1 | classes   | n. 阶级; 等级; 班( class的名词复数 ); 种类;                                                                          |
|    1 | common    | adj. 普通的; 通俗的; [数学]公共的; 共有的; n. 普通; [法律]（对土地、水域的）共                                       |
|    1 | create    | vt. 产生; 创造，创作; 封爵，把…封为（贵族）; vi. [英][俚]大发脾气，大发牢骚;                                         |
|    1 | decorator | n. 室内装饰师，油漆匠; adj. 适于室内装饰的;                                                                          |
|    1 | default   | vi. 未履行任务或责任; 受传唤时未出庭; 由于不到庭而败诉; 弃权; vt. 未履行，拖欠; 未                                   |
+------+-----------+----------------------------------------------------------------------------------------------------------------------+

```

#### 15.2 内部联接

也叫 等值联接， 它基于两个表之间的相等测试。这种联结也称为内部联结。如 15.1 最后例子的结果相似，其具体的语法如下


```

mysql> SELECT chap,word 
    -> FROM recite_chapter INNER JOIN recite_word
    -> ON recite_chapter.id = chapter_id
    -> LIMIT 10;
+------+-----------+
| chap | word      |
+------+-----------+
|    1 | argument  |
|    1 | array     |
|    1 | attribute |
|    1 | chapter   |
|    1 | class     |
|    1 | classes   |
|    1 | common    |
|    1 | create    |
|    1 | decorator |
|    1 | default   |
+------+-----------+


```

### 16 创建高级联接

#### 16.1 内联接

还是接着刚刚单词表的话题，现在的问题是这样的，已知一个单词为 'access', 求该单词所属的章的其他词汇

```
# 普通版本

mysql> SELECT id, word 
    -> FROM recite_word
    -> WHERE chapter_id = 
    -> (SELECT chapter_id
    -> FROM recite_word
    -> WHERE word = 'access');
+----+----------------+
| id | word           |
+----+----------------+
| 74 | access         |
| 58 | built          |
| 81 | change         |
| 78 | client         |
| 83 | database       |
| 88 | defined        |
| 69 | directory      |
| 71 | double         |
| 79 | element        |
| 54 | error          |
| 57 | exception      |
| 96 | extension      |
| 90 | filename       |
| 95 | found          |
| 89 | implementation |
| 56 | index          |
| 61 | information    |
| 66 | language       |
| 50 | level          |
| 91 | match          |
| 70 | memory         |
| 65 | model          |
| 67 | multiple       |

# ...


# 内链接版本

mysql> SELECT p1.id, p1.word
    -> FROM recite_word AS p1, recite_word AS p2
    -> WHERE p1.chapter_id = p2.chapter_id
    -> AND p2.word = 'access';
+----+----------------+
| id | word           |
+----+----------------+
| 74 | access         |
| 58 | built          |
| 81 | change         |
| 78 | client         |
| 83 | database       |
| 88 | defined        |
| 69 | directory      |
| 71 | double         |
| 79 | element        |
| 54 | error          |
| 57 | exception      |
| 96 | extension      |
| 90 | filename       |
| 95 | found          |
| 89 | implementation |
| 56 | index          |
| 61 | information    |

```

#### 16.3 外部联接

单词表
包含 10 个章节，其中 9 个章节包含单词

使用内联接，则只会检索到包含单词的 9 个章节
而现在我们希望把不包含单词的章节也检索出来，这时就需要外联接。

外联接的关键词为 table1 LEFT/RIGHT OUTER JOIN table2  ON  conditions
其中 LEFT / RIGHT 分别表示外联表1还是表2

比如使用 chaper LEFT OUTER JOIN word ON conditions

表示检索 chapter, 即使 某些章节没有单词也拿出来，相反 RIGHT 表示检索所有单词，即使某些单词不属于任何章节。

### 17. UNION 组合查询

####  UNION 关键字

union 关键字的作用是合并多个 select 查询的结果

依然以单词表为例，我想查询第一章和第三章的单词，虽然这里可以使用 WHERE IN 语句，不过这次看看 UNION 怎么实现。

```


mysql> SELECT id, word, chapter_id 
    -> FROM recite_word
    -> WHERE chapter_id = 1
    -> UNION
    -> SELECT id, word, chapter_id
    -> FROM recite_word
    -> WHERE chapter_id = 10
    -> ;
+-----+---------------+------------+
| id  | word          | chapter_id |
+-----+---------------+------------+
|  27 | argument      |          1 |
|  12 | array         |          1 |
|  28 | attribute     |          1 |
|  17 | chapter       |          1 |
|   3 | class         |          1 |
|  30 | classes       |          1 |
|  47 | common        |          1 |
# ...


```

zx： 感觉大多数场景都可以使用 WHERE 代替， 不过这么设计肯定有 WHERE 做不到的地方。可能这辈子的编程生涯都与不到吧。

#### UNION  ALL 关键字

在某些情况下两个或多个 SELECT 语句会有重复的条目发生，为了解决这一问题， UNION ALL 关键字应运而生。

在原语句上直接将 UNION 改为 UNION ALL 即可。

#### UNION 关键字应知

- ORDER BY 参数只能使用一次
- LIMIT 参数也只能使用一次

其他的注意事项还需要再探讨。

### 18. 全文本搜索


- innoDB 引擎并不支持全文搜索
- MYISAM 引擎支持全文搜索

- LIKE 和 RE 可以做到类似全文搜索的功能，但性能上不如 MATCH AGAINST

#### 18.2 全文搜索示例

使用全文搜索需要在建表的时候使用 FULLTEXT 注明，类似加上索引。

```
mysql> CREATE TABLE sql_articles
    -> ( 
    -> id  int NOT NULL AUTO_INCREMENT,
    -> text text NULL,
    -> PRIMARY KEY(id),
    -> FULLTEXT(text)
    -> )ENGINE=MyISAM;

```


使用方法

这里遇到一个小问题，使用教程中常规的语句并不能缩影出东西
加了布尔模式后正常

```
# 无匹配
mysql> SELECT text  FROM sql_articles WHERE Match(text) Against('+conditional');
mysql> SELECT text  FROM sql_articles WHERE Match(text) Against('conditional');


# 正常
mysql> SELECT text  FROM sql_articles WHERE Match(text) Against('+conditional' IN BOOLEAN MODE);
mysql> SELECT text  FROM sql_articles WHERE Match(text) Against('conditional' IN BOOLEAN MODE);


```

#### 常见的操作符

布尔操作符 及 说明
 
- + 包含,词必须存在
- - 排除,词必须不出现
- \> 包含,而且增加等级值
- < 包含,且减少等级值
- () 把词组成子表达式(允许这些子表达式作为一个组被包含、排除、排列等)
- ~ 取消一个词的排序值
- * 词尾的通配符
- "" 定义一个短语(与单个词的列表不一样,它匹配整个短语以便包含或排除这个短语)

### 19. 插入数据

#### 19.1 普通的插入操作


```
# 插入完整的数据
mysql> INSERT INTO sql_articles
    -> VALUE ( NULL,
    -> 'i am your father');

# 插入某些必要的数据
mysql> INSERT INTO sql_articles(text) VALUE ('today is sat');


```

#### 19.1 插入多行

就是重复插入一行的操作


#### 19.2 INSERT SELECT 操作

```

mysql> INSERT INTO table1(
        col1,
        col2,
        col3)
        SELECT col1, col2, col3
        FROM table2;
        
  
```

### 20. 更新和删除表

#### UPDATE 更新

```

mysql> UPDATE sql_articles
    -> SET text = 'torrow is sunday'
    -> WHERE id = 1;


```

#### DELETE 删除

```

mysql> DELETE FROM sql_articles
    -> WHERE id = 1;

```

### 21.创建以及操作表

```

# 创建表的语句
mysql> CREATE TABLE sql_articles
    -> ( 
    -> id  int NOT NULL AUTO_INCREMENT,
    -> text text NULL,
    -> PRIMARY KEY(id)
    -> FULLTEXT(text)
    -> )ENGINE=MyISAM;


```

注意几个地方

- PRIMARY KEY 相当于建立索引，要求值唯一
- ENGINE 目前有 innoDB 和 MyISA， 弄清楚区别
- AUTO_INCREMEN 为自增操作
- DEFAULT 为指定默认值


#### 21.2 表操作

在实际的生产环境中，总有一些意想不到的需求出现，比如

- 在已经建好的表上增加一列数据
- 删除表中一列数据
- 删除表
- 重命名表

```

# 增加一列数据
mysql> ALTER TABLE sql_articles
    -> ADD count CHAR(100);

# 删除一列数据
mysql> ALTER TABLE sql_articles
    -> DROP COLUMN count;

# 删除表
mysql> DROP TABLE table1;


# 重命名表

mysql> RENAME TABLE table1 TO table2;

```