## SQL必知必会 - 10- 14

### 10.2 Concat 函数拼接字段

```
# Concat 参数把字符串链接起来
# 事实上，当某一列为 INT 时也是没问题的

$ SELECT Concat(head, '://', addr) FROM backend_proxy LIMIT 10;

+----------------------------+
| Concat(head, '://', addr)  |
+----------------------------+
| http://183.222.102.108:80  |
| http://183.222.102.105:80  |
| http://183.222.102.98:8080 |
| http://183.222.102.106:80  |
| http://183.222.102.95:80   |
| http://183.222.102.108:80  |
| http://183.222.102.105:80  |
| http://183.222.102.98:8080 |
| http://183.222.102.106:80  |
| http://183.222.102.95:80   |
+----------------------------+

```

#### expand

- RTrim() 可以去除右边的空格
- LTrim() 可以去除左边的空格


#### AS 别名关键字

```

$ SELECT Concat(head, '://', addr) AS proxy FROM backend_proxy LIMIT 10;

+----------------------------+
| proxy                      |
+----------------------------+
| http://183.222.102.108:80  |
| http://183.222.102.105:80  |
| http://183.222.102.98:8080 |
| http://183.222.102.106:80  |
| http://183.222.102.95:80   |
| http://183.222.102.108:80  |
| http://183.222.102.105:80  |
| http://183.222.102.98:8080 |
| http://183.222.102.106:80  |
| http://183.222.102.95:80   |
+----------------------------+

```

### 10.3 计算符

对于列中的数字，可以使用 \(+-*/) 进行计算
```

$ SELECT is_alive+is_alive AS two FROM backend_proxy LIMIT 10;
+-----+
| two |
+-----+
|   0 |
|   0 |
|   0 |
|   0 |
|   0 |
|   2 |
|   0 |
|   2 |
|   0 |
|   2 |
+-----+

```

### 11 数据处理函数

#### 11.2 文本处理函数

- Left()  返回串左边的字符
- Length() 返回串的长度
- Locate() 找出串的一个子串
- Lower() 将串转换为小写
- LTrim() 去掉串左边的空格
- Right() 返回串右边的字符
- RTrim() 去掉串右边的空格
- Soundex() 返回串的SOUNDEX值
- SubString() 返回子串的字符
- Upper() 将串转换为大写


```
$ SELECT LENGTH(addr) FROM backend_proxy LIMIT 10;

+--------------+
| LENGTH(addr) |
+--------------+
|           18 |
|           18 |
|           19 |
|           18 |
|           17 |
|           18 |
|           18 |
|           19 |
|           18 |
|           17 |
+--------------+

```

#### 11.3 日期处理函数


- AddDate() 增加一个日期(天、周等)
- AddTime() 增加一个时间(时、分等)
- CurDate() 返回当前日期
- CurTime() 返回当前时间
- Date() 返回日期时间的日期部分
- DateDiff() 计算两个日期之差
- Date_Add() 高度灵活的日期运算函数
- Date_Format() 返回一个格式化的日期或时间串
- Day() 返回一个日期的天数部分
- DayOfWeek() 对于一个日期,返回对应的星期几
- Hour() 返回一个时间的小时部分
- Minute() 返回一个时间的分钟部分
- Month() 返回一个日期的月份部分
- Now() 返回当前日期和时间
- Second() 返回一个时间的秒部分
- Time() 返回一个日期时间的时间部分
- Year() 返回一个日期的年份部分

在实际的日期操作中，尽量使用以上函数筛选日期。

表内数据

```

$ SELECT id, ip, port,created_time  FROM myproxy_proxy LIMIT 10;
+------+----------------+------+----------------------------+
| id   | ip             | port | created_time               |
+------+----------------+------+----------------------------+
| 3861 | 117.90.0.225   | 9000 | 2017-06-30 03:58:33.833845 |
| 3862 | 186.154.146.26 | 8080 | 2017-06-30 03:58:33.831205 |
| 3863 | 175.155.25.27  | 808  | 2017-06-30 03:58:33.828497 |
| 3864 | 124.88.67.52   | 843  | 2017-06-30 03:58:33.825990 |
| 3865 | 119.5.0.7      | 808  | 2017-06-30 03:58:33.823245 |
| 3866 | 218.11.202.145 | 8081 | 2017-06-30 03:58:33.820367 |
| 3867 | 120.132.26.20  | 8080 | 2017-06-30 03:58:33.814409 |
| 3868 | 5.196.44.136   | 3128 | 2017-06-30 03:58:33.811789 |
| 3869 | 119.5.0.6      | 808  | 2017-06-30 03:58:33.809248 |
| 3870 | 175.155.25.36  | 808  | 2017-06-30 03:58:33.806817 |
+------+----------------+------+----------------------------+

```

错误示范

```
mysql> SELECT id, ip, port,created_time  FROM myproxy_proxy WHERE created_time = '2017-06-30';
Empty set (0.00 sec)


```

正确方法

```

mysql> SELECT id, ip, port,created_time  FROM myproxy_proxy WHERE DATE(created_time) = '2017-06-30'
    -> LIMIT 10;
+------+----------------+------+----------------------------+
| id   | ip             | port | created_time               |
+------+----------------+------+----------------------------+
| 3861 | 117.90.0.225   | 9000 | 2017-06-30 03:58:33.833845 |
| 3862 | 186.154.146.26 | 8080 | 2017-06-30 03:58:33.831205 |
| 3863 | 175.155.25.27  | 808  | 2017-06-30 03:58:33.828497 |
| 3864 | 124.88.67.52   | 843  | 2017-06-30 03:58:33.825990 |
| 3865 | 119.5.0.7      | 808  | 2017-06-30 03:58:33.823245 |
| 3866 | 218.11.202.145 | 8081 | 2017-06-30 03:58:33.820367 |
| 3867 | 120.132.26.20  | 8080 | 2017-06-30 03:58:33.814409 |
| 3868 | 5.196.44.136   | 3128 | 2017-06-30 03:58:33.811789 |
| 3869 | 119.5.0.6      | 808  | 2017-06-30 03:58:33.809248 |
| 3870 | 175.155.25.36  | 808  | 2017-06-30 03:58:33.806817 |
+------+----------------+------+----------------------------+


```

其他函数如 MONTH() DAY() 等也是一样的。

#### 11.4 数值处理函数


- Abs() 返回一个数的绝对值
- Cos() 返回一个角度的余弦
- Exp() 返回一个数的指数值
- Mod() 返回除操作的余数
- Pi() 返回圆周率
- Rand() 返回一个随机数
- Sin() 返回一个角度的正弦
- Sqrt() 返回一个数的平方根
- Tan() 返回一个角度的正切

### 12. 汇总数据

#### 12.1 聚集函数


- AVG() 返回某列的平均值
- COUNT() 返回某列的行数
- MAX() 返回某列的最大值
- MIN() 返回某列的最小值
- SUM() 返回某列值之和

```
# 求和

mysql> SELECT SUM(id) FROM myproxy_proxy LIMIT 10;
+----------+
| SUM(id)  |
+----------+
| 59171851 |
+----------+

# 计数

mysql> SELECT COUNT(id) FROM myproxy_proxy LIMIT 10;
+-----------+
| COUNT(id) |
+-----------+
|      7594 |
+-----------+

# 聚集
mysql> SELECT COUNT(id), AVG(id) FROM myproxy_proxy LIMIT 10;
+-----------+-----------+
| COUNT(id) | AVG(id)   |
+-----------+-----------+
|      7594 | 7791.9214 |
+-----------+-----------+


```

### 13.分组

#### 13.1 GROUP BY 关键字


GROUP BY 关键字 为分组用 

```


mysql> SELECT port, COUNT(*) FROM myproxy_proxy GROUP BY port LIMIT 10;
+-------+----------+
| port  | COUNT(*) |
+-------+----------+
| 10000 |        1 |
| 10001 |        1 |
| 10066 |        1 |
| 10299 |        1 |
| 10412 |        1 |
| 10640 |        1 |
| 1080  |       43 |
| 1081  |        1 |
| 11345 |        1 |
| 11355 |        1 |
+-------+----------+

```

#### 13.2 HAVING 关键字


```

mysql> SELECT port, COUNT(*) FROM myproxy_proxy GROUP BY port 
    -> HAVING COUNT(*) > 10
    -> LIMIT 10;
+-------+----------+
| port  | COUNT(*) |
+-------+----------+
| 1080  |       43 |
| 1189  |       36 |
| 3128  |      297 |
| 33862 |       37 |
| 53281 |       92 |
| 63909 |       17 |
| 80    |      448 |
| 8000  |       16 |
| 808   |     3113 |
| 8080  |      566 |
+-------+----------+


```

#### 在上面的基础上排序

```

mysql> SELECT port, COUNT(*) FROM myproxy_proxy GROUP BY port HAVING COUNT(*) > 10 ORDER BY COUNT(*) LIMIT 10;
+-------+----------+
| port  | COUNT(*) |
+-------+----------+
| 81    |       13 |
| 9745  |       16 |
| 8000  |       16 |
| 63909 |       17 |
| 9001  |       17 |
| 8088  |       33 |
| 1189  |       36 |
| 33862 |       37 |
| 1080  |       43 |
| 8888  |       51 |
+-------+----------+

```

### 14.子查询

#### 14.1 子查询

```

mysql> SELECT id, word, chapter_id 
    -> FROM recite_word
    -> WHERE chapter_id IN 
    -> (SELECT chap FROM  recite_chapter WHERE chap in (1,2))
    -> ;
+----+----------------+------------+
| id | word           | chapter_id |
+----+----------------+------------+
| 27 | argument       |          1 |
| 12 | array          |          1 |
| 28 | attribute      |          1 |
| 17 | chapter        |          1 |
|  3 | class          |          1 |
| 30 | classes        |          1 |
| 47 | common         |          1 |
| 26 | create         |          1 |
| 44 | decorator      |          1 |
| 23 | default        |          1 |
| 48 | dictionary     |          1 |
| 41 | different      |          1 |
| 40 | discussion     |          1 |
| 37 | document       |          1 |
| 18 | documentation  |          1 |
|  2 | example        |          1 |
| 19 | false          |          1 |
| 35 | following      |          1 |
| 25 | format         |          1 |
|  4 | function       |          1 |
|  6 | import         |          1 |
| 33 | input          |          1 |

# ....

```