### 7.3	String	Manipulation

In [2]:
import numpy as np
import pandas as pd

### String	Object	Methods

In [4]:
val = 'a,b,  guido'

In [6]:
val.split(',')

['a', 'b', '  guido']

In [8]:
# split with strip

p = [i.strip() for i in val.split(',')]

In [9]:
p

['a', 'b', 'guido']

In [10]:
# 接下来的部分内容涉及到 python 内置 str 处理
#　和 正则表达式，　在此不多说了

### Vectorized	String	Functions	in	pandas

In [11]:
data = {'dave': 'dave@google.com', 'steve': 'steve@google.com',
        'rob': 'rod@google.com', 'wes': np.nan}

In [12]:
data = pd.Series(data)

In [13]:
data

dave      dave@google.com
rob        rod@google.com
steve    steve@google.com
wes                   NaN
dtype: object

In [14]:
data.isnull()

dave     False
rob      False
steve    False
wes       True
dtype: bool

In [15]:
# str.contains
data.str.contains('google')

dave     True
rob      True
steve    True
wes       NaN
dtype: object

In [18]:
pattern = '([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [19]:
import re

In [20]:
# re with pandas
data.str.findall(pattern, flags=re.IGNORECASE)

dave      [(dave, google, com)]
rob        [(rod, google, com)]
steve    [(steve, google, com)]
wes                         NaN
dtype: object

In [21]:
matches = data.str.match(pattern, flags=re.IGNORECASE)

In [22]:
matches

dave     True
rob      True
steve    True
wes       NaN
dtype: object

In [24]:
# ways to get re results

In [23]:
matches.str.get(1)

dave    NaN
rob     NaN
steve   NaN
wes     NaN
dtype: float64

In [25]:
matches.str.get(0)

dave    NaN
rob     NaN
steve   NaN
wes     NaN
dtype: float64

In [26]:
matches.str