## Chapter-2

理解 可变 和 不可变

参考： 

- [mutable and imutable](https://stackoverflow.com/questions/8056130/immutable-vs-mutable-types)
- [2](https://codehabitude.com/2013/12/24/python-objects-mutable-vs-immutable/)

search 'mutable and imutable in python' on google

#### List Comprehesion

In [1]:
# 变量泄漏

x = 'abc'
dummy = [x for x in range(5)]

print(dummy)
print(x)

[0, 1, 2, 3, 4]
abc

In [3]:
# listcoms vs filter/map

symbols = '$¢£¥€¤'
beyond_asc_1 = [ord(i) for i in symbols if ord(i)> 127 ]
beyond_asc_2 = list(filter(lambda x : x>127, map(ord, symbols)))

print(beyond_asc_1)
print(beyond_asc_2)

[162, 163, 165, 8364, 164]
[162, 163, 165, 8364, 164]

In [4]:
# 笛卡尔 积

colors = ['black', 'res', 'white']
sizes = ['L', 'M', 'S']
suits = [(color, size) for color in colors
                       for size in sizes]

suits

[('black', 'L'),
 ('black', 'M'),
 ('black', 'S'),
 ('res', 'L'),
 ('res', 'M'),
 ('res', 'S'),
 ('white', 'L'),
 ('white', 'M'),
 ('white', 'S')]

In [5]:
tuple(ord(x) for x in symbols)

(36, 162, 163, 165, 8364, 164)

In [7]:
g = (ord(x) for x in symbols)
print(next(g))
print(next(g))
print(next(g))

36
162
163

In [8]:
import array

array.array('I', (ord(x) for x in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [9]:
# use * to grab excess items

a, b, *item = range(5)
print(a, b, item)

0 1 [2, 3, 4]

In [10]:
a, *item, b, c = range(7)
a, item, b, c

(0, [1, 2, 3, 4], 5, 6)

In [11]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
    ]

fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, popu, (lati, longti) in metro_areas:
    print(fmt.format(name, lati, longti))

Tokyo           |   35.6897 |  139.6917
Delhi NCR       |   28.6139 |   77.2089
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [12]:
# named tuple

from collections import namedtuple

City = namedtuple('City', 'name, cc, popu, coordi')
tokyo = City('Tokyo', 'JP', '36.933', (35, 139))

In [13]:
tokyo

City(name='Tokyo', cc='JP', popu='36.933', coordi=(35, 139))

In [14]:
tokyo.name

'Tokyo'

In [15]:
tokyo.cc

'JP'

In [16]:
tokyo.popu

'36.933'

In [17]:
tokyo.coordi

(35, 139)

In [18]:
City._fields

('name', 'cc', 'popu', 'coordi')

In [19]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_dt = ('Delhi', 'IN', 21.9, LatLong(28,77))
delhi = City._make(delhi_dt)
delhi._asdict

In [20]:
delhi._asdict()

OrderedDict([('name', 'Delhi'),
             ('cc', 'IN'),
             ('popu', 21.9),
             ('coordi', LatLong(lat=28, long=77))])

In [21]:
for k,v in delhi._asdict().items():
    print('{0} : {1}'.format(k,v))

name : Delhi
cc : IN
popu : 21.9
coordi : LatLong(lat=28, long=77)

### assigning to slices

In [22]:
# assigning to slices

l = list(range(10))

In [23]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
l[2:5] = [20, 30]

In [25]:
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [26]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [27]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

In [28]:
l[2:5] = 100

TypeError: can only assign an iterable

In [29]:
l[2:5] = [100]

In [30]:
l

[0, 1, 100, 22, 9]

#### A += assignment puzzler

In [31]:
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [32]:
t

(1, 2, [30, 40, 50, 60])

#### bisect

In [37]:
import bisect
import sys
HAYSTACK = [1, 4, 5, 6, 8, 12, 15, 20, 21, 23, 23, 26, 29, 30]
NEEDLES = [0, 1, 2, 5, 8, 10, 22, 23, 29, 30, 31]
ROW_FMT = '{0:2d} @ {1:2d}     {2}{0:<2d}'

def demo(bisect_fn):
    
    for needle in reversed(NEEDLES):
        
        position = bisect_fn(HAYSTACK, needle)
        offset = position * ' |'
        print(ROW_FMT.format(needle, position, offset))
        

token = 'left'
if __name__ == '__main__':
    if token == 'left':
        bisect_fn = bisect.bisect_left
    else:
        bisect_fn = bisect.bisect
        
print('DEMO: ', bisect_fn.__name__)
print('haystack ->', ' '.join('%2d' %n for n in HAYSTACK))

demo(bisect_fn)

DEMO:  bisect_left
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      | | | | | | | | | | | | | |31
30 @ 13      | | | | | | | | | | | | |30
29 @ 12      | | | | | | | | | | | |29
23 @  9      | | | | | | | | |23
22 @  9      | | | | | | | | |22
10 @  5      | | | | |10
 8 @  4      | | | |8
 5 @  2      | |5
 2 @  1      |2
 1 @  0     1
 0 @  0     0

```
DEMO:  bisect
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      | | | | | | | | | | | | | |31
30 @ 14      | | | | | | | | | | | | | |30
29 @ 13      | | | | | | | | | | | | |29
23 @ 11      | | | | | | | | | | |23
22 @  9      | | | | | | | | |22
10 @  5      | | | | |10
 8 @  5      | | | | |8 
 5 @  3      | | |5 
 2 @  1      |2 
 1 @  1      |1 
 0 @  0     0 
```

```
DEMO:  bisect_left
haystack ->  1  4  5  6  8 12 15 20 21 23 23 26 29 30
31 @ 14      | | | | | | | | | | | | | |31
30 @ 13      | | | | | | | | | | | | |30
29 @ 12      | | | | | | | | | | | |29
23 @  9      | | | | | | | | |23
22 @  9      | | | | | | | | |22
10 @  5      | | | | |10
 8 @  4      | | | |8 
 5 @  2      | |5 
 2 @  1      |2 
 1 @  0     1 
 0 @  0     0 
```

#### Inserting with bisect.insort

In [2]:
import bisect
import random

SIZE = 7
random.seed(1729)

mylist = []
for i in range(SIZE):
    new_item = random.randrange(SIZE*2)
    bisect.insort(mylist, new_item)
    print('%2d ->' %new_item, mylist)

10 -> [10]
 0 -> [0, 10]
 6 -> [0, 6, 10]
 8 -> [0, 6, 8, 10]
 7 -> [0, 6, 7, 8, 10]
 2 -> [0, 2, 6, 7, 8, 10]
10 -> [0, 2, 6, 7, 8, 10, 10]