## 6.2	Binary	Data	Formats

In [2]:
# save data using pickle

In [3]:
import pandas as pd
import numpy as np

In [4]:
frame = pd.read_csv('ex2.csv')

In [5]:
frame

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [6]:
frame.to_pickle('from_pickle')

In [7]:
!ls -l

total 300
-rw-rw-r-- 1 zx zx   1060 1月  14 14:40 6.2?Binary?Data?Formats.ipynb
-rw-rw-r-- 1 zx zx  56991 1月  14 14:37 Chapter?6.?Data?Loading,?Storage, and?File?Formats.ipynb
-rw-rw-r-- 1 zx zx     91 1月  14 13:45 dates.csv
-rw-rw-r-- 1 zx zx     43 1月  14 09:55 ex2.csv
-rw-rw-r-- 1 zx zx    112 1月  14 10:22 ex3.csv
-rw-rw-r-- 1 zx zx    155 1月  14 10:23 ex4.txt
-rw-rw-r-- 1 zx zx    164 1月  14 10:27 ex5.csv
-rw-rw-r-- 1 zx zx     79 1月  14 10:30 ex6.csv
-rw-rw-r-- 1 zx zx 207821 1月  14 10:43 ex7.csv
-rw-rw-r-- 1 zx zx     36 1月  14 13:49 ex8.csv
-rw-rw-r-- 1 zx zx     59 1月  14 09:51 example-1.csv
-rw-rw-r-- 1 zx zx    887 1月  14 14:41 from_pickle

In [8]:
pd.read_pickle('from_pickle')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

### Using	HDF5	Format

In [9]:
frame = pd.DataFrame({'a': np.random.randn(100)})

In [15]:
store = pd.HDFStore('data.h5')

In [16]:
store['obj1'] = frame

In [17]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: data.h5
/obj1            frame        (shape->[100,1])

In [18]:
store['obj1']

           a
0   1.421814
1  -1.522805
2  -1.571313
3  -0.764834
4  -0.043713
5  -0.247947
6   1.368545
7   1.671445
8   1.562480
9   0.435008
10  1.654118
11 -0.911190
12  0.957851
13  0.981749
14  0.597118
15 -1.148609
16  1.065902
17  0.915596
18 -0.542357
19 -1.400076
20  0.354467
21 -0.056208
22  0.843240
23  0.499254
24  1.470598
25 -1.673401
26 -0.850290
27  0.500594
28 -2.023636
29  0.525472
..       ...
70  2.039260
71  0.153979
72 -0.373966
73 -0.564202
74  0.151524
75  0.549339
76  0.741063
77  0.487541
78 -0.475921
79  1.657540
80 -0.458338
81  1.209074
82  0.315664
83 -0.488839
84 -0.993252
85  0.284494
86 -0.772654
87  2.001854
88  0.117144
89 -0.520723
90 -1.066121
91 -0.143298
92 -0.364837
93  1.162145
94 -0.143997
95 -1.175660
96  0.644637
97 -0.670254
98  0.485658
99  1.684607

[100 rows x 1 columns]

In [19]:
store.put('obj2', frame, format='table')

In [20]:
store.select('obj2', where=['index>=10 and index<= 15'])

           a
10  1.654118
11 -0.911190
12  0.957851
13  0.981749
14  0.597118
15 -1.148609

In [21]:
store.close()

In [22]:
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [23]:
pd.read_hdf('mydata.h5', 'obj3', where=['index<5'])

          a
0  1.421814
1 -1.522805
2 -1.571313
3 -0.764834
4 -0.043713