## 6.4	Interacting	with	Databases

In [2]:
import numpy as np
import pandas as pd
import sqlite3

In [3]:
query = '''
CREATE TABLE test 
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER);
'''

In [11]:
con = sqlite3.connect('mydata.sqlite')

In [12]:
con.execute(query)

In [13]:
con.commit()

In [7]:
data = [('atlanta', 'georgia', 1.25, 6),
        ('tallahassee', 'florida', 2.6, 3),
        ('sacramento', 'california', 1.7, 5)]

In [8]:
stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'

In [14]:
con.executemany(stmt, data)

In [15]:
con.commit()

In [16]:
cursor = con.execute('select * from test')

In [17]:
rows = cursor.fetchall()

In [18]:
rows

[('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('sacramento', 'california', 1.7, 5)]

In [20]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [21]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      atlanta     georgia  1.25  6
1  tallahassee     florida  2.60  3
2   sacramento  california  1.70  5

In [22]:
import sqlalchemy as sqla

In [26]:
sqla.create_engine?

In [31]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [32]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      atlanta     georgia  1.25  6
1  tallahassee     florida  2.60  3
2   sacramento  california  1.70  5